.card span {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.card {
  text-align: center;
  border: 1px solid #a9a9a8;
  padding: 1rem 3rem;
  margin: 0 0.5rem;
  border-radius: 0.2rem;
  width: 100%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.card:hover {
  background-color: #000;
  color: #fff;
}

.cost {
  margin-top: 0.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 696px) {
  .card {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 75%;
  }
}
